@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playwrite+NZ:wght@100..400&family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";


@theme {
    --color-blue-650: #2056e3;
    --font-outfit: "Outfit", sans-serif;
    --font-playwrite-nz: "Playwrite NZ", cursive;
    --font-inter: "Inter", sans-serif;

    --animate-fadeInUp: fadeInUp 1s ease-out forwards;
    --animate-pulse-slow: pulse 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;

    @keyframes fadeInUp {
        from {
            opacity: 0;
            transform: translate3d(0, 40px, 0);
        }

        to {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }
}

@layer utilities {
    .font-outfit {
        font-family: var(--font-outfit);
    }

    .playwrite-nz-basic-light {
        font-family: var(--font-playwrite-nz);
        font-weight: 300;
    }

    /* Alias for typo in Home.jsx */
    .laywrite-nz-basic-light {
        font-family: var(--font-playwrite-nz);
        font-weight: 300;
    }

    .inter-light-text {
        font-family: var(--font-inter);
        font-weight: 300;
    }
}